<!DOCTYPE HTML>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="renderer" content="webkit|ie-comp|ie-stand">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
		<script type="text/javascript">
			var token = "token."+sessionStorage.getItem("token");
			if(token=="token.null"){
				alert('请登录');
				location.href="login.html";
			}
		</script>
		<link rel="stylesheet" type="text/css" href="../static/h-ui/css/H-ui.min.css" />
		<link rel="stylesheet" type="text/css" href="../static/h-ui.admin/css/H-ui.admin.css" />
		<link rel="stylesheet" type="text/css" href="../static/lib/Hui-iconfont/1.0.8/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../static/h-ui.admin/skin/default/skin.css" id="skin" />
		<link rel="stylesheet" type="text/css" href="../static/h-ui.admin/css/style.css" />
		<script type="text/javascript" src="../static/lib/public.js"></script>
		<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
		<title>添加管理员 </title>
		<meta name="keywords" content="">
		<meta name="description" content="">
	</head>

	<body>
		<article class="page-container">
			<form class="form form-horizontal" id="form-admin-add">
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>姓名：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" class="input-text" value="" placeholder="" id="adminName" name="name">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>账号：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" class="input-text" value="" placeholder="" id="account" name="account">
						<label id='account_error' for="account">该账号已存在</label>
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>初始密码：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="password" class="input-text" autocomplete="off" value="" placeholder="密码" id="password" name="password">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>确认密码：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="password" class="input-text" value="" autocomplete="off" placeholder="确认新密码" id="password2" name="password2">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>性别：</label>
					<div class="formControls col-xs-8 col-sm-9 skin-minimal">
						<div class="radio-box">
							<input name="gender" type="radio" id="sex-1" value="男" checked>
							<label for="sex-1">男</label>
						</div>
						<div class="radio-box">
							<input type="radio" id="sex-2" value="女" name="gender">
							<label for="sex-2">女</label>
						</div>
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>手机：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" class="input-text" value="" placeholder="" id="mobileNumber" name="mobileNumber">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>邮箱：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" class="input-text" placeholder="@" name="email" id="email">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">角色：</label>
					<div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:150px;">
			<select class="select" name="adminRole" size="1">
				<option value="0">超级管理员</option>
				<option value="1">总编</option>
				<option value="2">栏目主辑</option>
				<option value="3">栏目编辑</option>
			</select>
			</span> </div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">所属组织：</label>
					<div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:150px;">
			<select class="select" name="organization" size="1">
				<option value="0">IOS</option>
				<option value="1">Android</option>
				<option value="2">JAVA</option>
				<option value="3">H5</option>
			</select>
			</span> </div>
				</div>
				<!--<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">备注：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<textarea name="" cols="" rows="" class="textarea"  placeholder="说点什么...100个字符以内" dragonfly="true" onKeyUp=""></textarea>
			<p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>
		</div>
	</div>-->
				<div class="row cl">
					<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
						<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
					</div>
				</div>
			</form>
		</article>

		<!--_footer 作为公共模版分离出去-->
		<script type="text/javascript" src="../static/lib/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript" src="../static/lib/layer/2.4/layer.js"></script>
		<script type="text/javascript" src="../static/h-ui/js/H-ui.min.js"></script>
		<script type="text/javascript" src="../static/h-ui.admin/js/H-ui.admin.js"></script>
		<!--/_footer 作为公共模版分离出去-->

		<!--请在下方写此页面业务相关的脚本-->
		<script type="text/javascript" src="../static/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
		<script type="text/javascript" src="../static/lib/jquery.validation/1.14.0/validate-methods.js"></script>
		<script type="text/javascript" src="../static/lib/jquery.validation/1.14.0/messages_zh.js"></script>
		<script type="text/javascript">
			$(function() {
				$('.skin-minimal input').iCheck({
					checkboxClass: 'icheckbox-blue',
					radioClass: 'iradio-blue',
					increaseArea: '20%'
				});

				function getFormJson(form) {
					var o = {};
					var a = $(form).serializeArray();
					$.each(a, function() {
						if(o[this.name] !== undefined) {
							if(!o[this.name].push) {
								o[this.name] = [o[this.name]];
							}
							o[this.name].push(this.value || '');
						} else {
							o[this.name] = this.value || '';
						}
					});
					return o;
				}

				$("#form-admin-add").validate({
					rules: {
						name: {
							required: true,
							maxlength: 16
						},
						password: {
							required: true,
							isPwd: true
						},
						password2: {
							required: true,
							isPwd: true,
							equalTo: "#password"
						},
						gender: {
							required: true,
						},
						mobileNumber: {
							required: true,
							isPhone: true,
						},
						email: {
							required: true,
							email: true,
						},
						organization: {
							required: true,
						},
					},
					onkeyup: false,
					focusCleanup: true,
					success: "valid",
					submitHandler: function(form) {
						//			var data = getFormJson('#form-admin-add');
						var data = {};
						data.name = $('#adminName').val();
						data.account = $('#account').val();
						data.password = $('#password').val();
						data.gender = $("input[type='radio']:checked").val();
						data.mobileNumber = $('#mobileNumber').val();
						data.email = $('#email').val();
						$.ajax({
							type: "get",
							url: url_r + "/user/add",
							headers: {
								Authorization: token
							},
							async: true,
							data: data,
							success: function(data) {
								if(data.success) {
									parent.layer.msg('添加成功!', {
										icon: 1,
										time: 1000
									});
									setTimeout(function() {
										var index = parent.layer.getFrameIndex(window.name);
										parent.$('.r')[0].click();
										parent.layer.close(index);
									}, 1000)
								} else {
									layer.msg(data.msg, {
										icon: 2,
										time: 1000
									});
									$('#account').addClass('acc_error');
									$('#account_error').show();
								}

							},
							error: function(XmlHttpRequest, textStatus, errorThrown) {
								layer.msg('请求失败!', {
									icon: 2,
									time: 1000
								});
							}
						});
					}
				});

				$('#account').on('input', function() {
					if($(this).hasClass('acc_error')) {
						$(this).removeClass('acc_error');
						$('#account_error').hide();
					}
				})
			});
		</script>
		<!--/请在上方写此页面业务相关的脚本-->
	</body>

</html>