<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="renderer" content="webkit|ie-comp|ie-stand">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
		<script type="text/javascript">
			var token = "token."+sessionStorage.getItem("token");
			if(token=="token.null"){
				alert('请登录');
				location.href="login.html";
			}
		</script>
		<link rel="stylesheet" type="text/css" href="../static/h-ui/css/H-ui.min.css" />
		<link rel="stylesheet" type="text/css" href="../static/h-ui.admin/css/H-ui.admin.css" />
		<link rel="stylesheet" type="text/css" href="../static/lib/Hui-iconfont/1.0.8/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../static/h-ui.admin/skin/default/skin.css" id="skin" />
		<link rel="stylesheet" type="text/css" href="../static/h-ui.admin/css/style.css" />
		<script type="text/javascript" src="../static/lib/public.js"></script>
		<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
		<title>注册用户列表</title>
	</head>
	<body>
		<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>用户管理<span class="c-gray en">&gt;</span>注册用户列表
			<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
		</nav>
		<div class="page-container">
			<table class="table table-border table-bordered table-hover table-bg table-sort">
				<thead>
					<tr class="text-c">
						<th width="25">用户名称</th>
						<th width="25">Email</th>
						<th width="25">手机号码</th>
						<th width="25">上线时间</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>

		<!--_footer 作为公共模版分离出去-->
		<script type="text/javascript" src="../static/lib/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript" src="../static/lib/layer/2.4/layer.js"></script>
		<script type="text/javascript" src="../static/h-ui/js/H-ui.min.js"></script>
		<script type="text/javascript" src="../static/h-ui.admin/js/H-ui.admin.js"></script>
		<!--/_footer /作为公共模版分离出去-->

		<!--请在下方写此页面业务相关的脚本-->
		<script type="text/javascript" src="../static/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
		<script type="text/javascript" src="../static/lib/jquery.validation/1.14.0/validate-methods.js"></script>
		<script type="text/javascript" src="../static/lib/laypage/1.2/laypage.js"></script>
		<script type="text/javascript">
			$(function() {
				
				
				$.ajax({
					type: "get",
					url: url_r + "/callSalesApp/getRegisteUserList",
					headers: {
						Authorization: token
					},
					async: true,
					dataType: 'json',
					beforeSend: function() {
						var index = layer.load();
					},
					success: function(data) {
						var index = layer.load();
						layer.close(index);
						if(data.SvcCont.RespInfo.Result == 0) {
							var data = data.SvcCont.RespInfo.list.UserRegistration;
							$.each(data, function(k, v) {
								var trs = $('<tr class="text-c"></tr>');
								var td1 = $('<td>' + v.StaffName+'</td>');
								var td2 = $('<td>' + v.Email + '</td>');
								var td3 = $('<td>' + v.MobilePhone + '</td>');
								var td4 = $('<td>' + v.CreateDate + '</td>');
								trs.append(td1);
								trs.append(td2);
								trs.append(td3);
								trs.append(td4);
								$('table').append(trs);
							});
						} else {
							layer.msg(data.msg, {
								icon: 1,
								time: 1000
							});
						}
					},
					error: function() {
						var index = layer.load();
						layer.close(index);
						layer.msg('请求失败!', {
							icon: 2,
							time: 1000
						});
					}
				});
			})
		</script>
	</body>