<!DOCTYPE HTML>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="renderer" content="webkit|ie-comp|ie-stand">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
		<script type="text/javascript">
			var token = "token."+sessionStorage.getItem("token");
			if(token=="token.null"){
				alert('请登录');
				location.href="login.html";
			}
		</script>
		<link rel="stylesheet" type="text/css" href="../static/h-ui/css/H-ui.min.css" />
		<link rel="stylesheet" type="text/css" href="../static/h-ui.admin/css/H-ui.admin.css" />
		<link rel="stylesheet" type="text/css" href="../static/lib/Hui-iconfont/1.0.8/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../static/h-ui.admin/skin/default/skin.css" id="skin" />
		<link rel="stylesheet" type="text/css" href="../static/h-ui.admin/css/style.css" />
		<link rel="stylesheet" type="text/css" href="../static/h-ui.admin/css/common.css" />
		<link rel="stylesheet" type="text/css" href="../static/h-ui.admin/css/pagestyle.css" />
		<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
		<title>用户管理</title>
	</head>

	<body>
		<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>用户管理
			<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
		</nav>
		<div class="page-container">
			<div class="text-c usertable">
				<label for="name">
					按姓名查询
				</label>
				<input type="text" class="input-text" name="name" id="name" value="" placeholder="请输入姓名" />
				<label for="crmid">
					按CRM账号查询
				</label>
				<input type="text" class="input-text" name="crmid" id="crmid" value="" placeholder="请输入CRM账号" />
				<label for="phone">
					按手机号查询
				</label>
				<input type="text" class="input-text" name="phone" id="phone" value="" placeholder="请输入手机号" />
				<label for="depid">
					按部门查询
				</label>
				<input type="text" class="input-text" name="depid" id="depid" value="" placeholder="请输入部门信息" />
				<div class="status_choose">
					<label for="status">
					按状态查询
					<select name="" class="select" id="status">
						<option value="1000">正常</option>
						<option value="1100">冻结</option>
						<option value="1200">注销</option>
						<option value="1300">无效</option>
					</select>
				</label>
				</div>
				<button type="submit" id="serch" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i>查询</button>
			</div>
			<div class="numChoose">
				<label>显示数量:
					<select name="" class="num_select">
						<option value="10">10</option>
						<option value="20">20</option>
						<option value="30">30</option>
						<option value="40">40</option>
					</select>
				</label>
			</div>
			<div class="mt-20">
				<table id="dataList" class=" table table-border table-bordered table-hover table-bg table-sort">
					<thead>
						<tr class="text-c">
							<th width="25">头像</th>
							<th width="25">姓名</th>
							<th width="25">电话</th>
							<th width="25">部门</th>
							<th width="25">CRM账号</th>
							<th width="25">组织架构</th>
							<th width="25">最后更新时间</th>
							<th width="25">账号状态</th>
							<th width="25">黑名单</th>
							<th width="25">操作</th>
						</tr>
					</thead>
					<tbody>
						<th colspan="10" class="text-c no_message">暂无数据</th>
					</tbody>
				</table>
			</div>
			<div class="page_btn hide">
				<a href="javascript:void(0);" class="next_btn">下一页</a>
				<a href="javascript:void(0);" class="prev_btn dis_btn">上一页</a>
			</div>
		</div>
		<!--_footer 作为公共模版分离出去-->
		<script type="text/javascript" src="../static/lib/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript" src="../static/lib/layer/2.4/layer.js"></script>
		<script type="text/javascript" src="../static/h-ui/js/H-ui.min.js"></script>
		<script type="text/javascript" src="../static/h-ui.admin/js/H-ui.admin.js"></script>
		<!--/_footer 作为公共模版分离出去-->

		<!--请在下方写此页面业务相关的脚本-->
		<script type="text/javascript" src="../static/lib/My97DatePicker/4.8/WdatePicker.js"></script>
		<script type="text/javascript" src="../static/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
		<script type="text/javascript" src="../static/lib/laypage/1.2/laypage.js"></script>
		<script type="text/javascript" src="../static/lib/public.js"></script>

		<!--<script type="text/javascript" src="../static/lib/pagination.min.js"></script>-->
		<script type="text/javascript">
			$(function() {
				//获取默认显示数据
				var table = $('datalist').DataTable();
			});
			var num = 1;
			//获取数据方法
			var token = "token." + sessionStorage.getItem('token');
			function getData(num) {
				var data = {};
				if($('#name').val() != '') {
					data.username = $('#name').val();
				}
				if($('#crmid').val() != '') {
					data.systemUserCode = $('#crmid').val();
				}
				if($('#phone').val() != '') {
					data.phone = $('#phone').val();
				}
				if($('#depid').val() != '') {
					data.depId = $('#depid').val();
				}
				if($('#status').val() != '') {
					data.statusCd = $('#status').val();
				}
				data.pageNum = $('.num_select').val();

				data.thisPage = num;
				//				data = JSON.stringify(data);

				$.ajax({
					type: "GET",
					url: url_r + "/callSalesApp/getUserInfo",
					headers: {
						Authorization: token
					},
					async: true,
					data: data,
					dataType: 'json',
					beforeSend: function() {
						var index = layer.load();
					},
					success: function(data) {
						var index = layer.load();
						layer.close(index);
						if(data.SvcCont.RespInfo.Result == 0) {
							if(data.SvcCont.RespInfo.userList == '') {
								$('#dataList tbody tr').siblings('.no_message').remove();
								$('.no_message').show();
								layer.msg('没有对应数据', {
									icon: 5,
									time: 1000
								})
							} else {
								$('#dataList tbody tr').remove();
								var dataList = '';
								if(data.SvcCont.RespInfo.userList.TXLUser){
									dataList = data.SvcCont.RespInfo.userList.TXLUser;
								}else{
									dataList = data.SvcCont.RespInfo.userList;
								}
								
								if(dataList == undefined) {
									$('.no_message').show();
									$('.page_btn').hide()
								} else if(dataList != undefined && dataList instanceof Array == false) { //只有一条数据的时候
									var dataArr = [];
									dataArr.push(dataList);
									$('.page_btn').show();
									if(num <= 1) {
										$('.next_btn').addClass('dis_btn');
										$('.prev_btn').addClass('dis_btn');
									} else {
										$('.next_btn').addClass('dis_btn');
										$('.prev_btn').removeClass('dis_btn');
									}
									$.each(dataArr, function(k, v) {
										var trs = $('<tr class="text-c"></tr>')
										var td1 = $('<td><img src="http://42.99.16.145:19491' + v.portrait_url + '" width="50" height="50"/></td>');
										var td2 = $('<td>' + v.user_name + '</td>');
										var td3 = $('<td>' + v.phone + '</td>');
										var td4 = $('<td>' + v.organ_name + '</td>');
										var td5 = $('<td>' + v.system_user_code + '</td>');
										var td6 = $('<td>' + v.address + '</td>');
										var td7 = $('<td>' + v.update_date + '</td>');
										if(v.status_cd == '正常') {
											var td8 = $('<td class="td_suc">' + v.status_cd + '</td>');
										} else if(v.status_cd == '冻结') {
											var td8 = $('<td class="td_wrn">' + v.status_cd + '</td>');
										} else if(v.status_cd == '注销') {
											var td8 = $('<td class="td_dinger">' + v.status_cd + '</td>');
										} else if(v.status_cd == '无效') {
											var td8 = $('<td class="td_none">' + v.status_cd + '</td>');
										}
										if(v.status == '正常') {
											var td10 = $('<td class="td_suc">' + v.status + '</td>');
										} else {
											var td10 = $('<td class="td_dinger">' + v.status + '</td>');
										}
										var td9 = $('<td><a title="修改密码" href="javascript:;" onclick="member_edit(' + "'修改密码'" + ',' + "'change_userpasd.html?crmid=" + v.system_user_code + "'" + ',' + "'4'" + ',' + "'400'" + ',' + "'500'" + ')" class="ml-5 bianji" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a><a title="查看权限" href="javascript:;" onclick="member_edit(' + "'查看权限'" + ',' + "'userDetail.html'" + ',' + "'" + v.user_id + "'" + ',' + "'400'" + ',' + "'500'" + ')" class="ml-5 bianji" style="text-decoration:none"><i class="Hui-iconfont">&#xe665;</i></a></td>');
										
										//排序按钮
//										<a style="text-decoration:none" class="ml-5" onClick="change_password(' + "'排序'" + ',' + "'ordernum.html?id=" + v.user_id + "'" + ',' + "'" + v.user_name + "'" + ',' + "'350'" + ',' + "'270'" + ')" href="javascript:;" title="排序"><i class="Hui-iconfont">&#xe61e</i></a>
										trs.append(td1);
										trs.append(td2);
										trs.append(td3);
										trs.append(td4);
										trs.append(td5);
										trs.append(td6);
										trs.append(td7);
										trs.append(td8);
										trs.append(td10);
										trs.append(td9);
										$('#dataList tbody').append(trs);
									});
									$('.no_message').hide();
								} else {
									$('.page_btn').show();
									if(dataList.length < $('.num_select').val() && num <= 1) {
										$('.next_btn').addClass('dis_btn');
										$('.prev_btn').addClass('dis_btn');
									} else if(dataList.length < $('.num_select').val() && num > 1) {
										$('.next_btn').addClass('dis_btn');
										$('.prev_btn').removeClass('dis_btn');
									} else if(dataList.length == $('.num_select').val() && num == 1) {
										$('.next_btn').removeClass('dis_btn');
										$('.prev_btn').addClass('dis_btn');
									} else {
										$('.next_btn').removeClass('dis_btn');
										$('.prev_btn').removeClass('dis_btn');
									}
									$.each(dataList, function(k, v) {
										var trs = $('<tr class="text-c"></tr>')
										var td1 = $('<td><img src="http://42.99.16.145:19491' + v.portrait_url + '" width="50" height="50"/></td>');
										var td2 = $('<td>' + v.user_name + '</td>');
										var td3 = $('<td>' + v.phone + '</td>');
										var td4 = $('<td>' + v.organ_name + '</td>');
										var td5 = $('<td>' + v.system_user_code + '</td>');
										var td6 = $('<td>' + v.address + '</td>');
										var td7 = $('<td>' + v.update_date + '</td>');
										if(v.status_cd == '正常') {
											var td8 = $('<td class="td_suc">' + v.status_cd + '</td>');
										} else if(v.status_cd == '冻结') {
											var td8 = $('<td class="td_wrn">' + v.status_cd + '</td>');
										} else if(v.status_cd == '注销') {
											var td8 = $('<td class="td_dinger">' + v.status_cd + '</td>');
										} else if(v.status_cd == '无效') {
											var td8 = $('<td class="td_none">' + v.status_cd + '</td>');
										}
										if(v.status == '正常') {
											var td10 = $('<td class="td_suc">' + v.status + '</td>');
										} else {
											var td10 = $('<td class="td_dinger">' + v.status + '</td>');
										}

										var td9 = $('<td><a title="修改密码" href="javascript:;" onclick="member_edit(' + "'修改密码'" + ',' + "'change_userpasd.html?crmid=" + v.system_user_code + "'" + ',' + "'4'" + ',' + "'400'" + ',' + "'500'" + ')" class="ml-5 bianji" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a><a title="查看权限" href="javascript:;" onclick="member_edit(' + "'查看权限'" + ',' + "'userDetail.html'" + ',' + "'" + v.user_id + "'" + ',' + "'400'" + ',' + "'500'" + ')" class="ml-5 bianji" style="text-decoration:none"><i class="Hui-iconfont">&#xe665;</i></a></td>');
										
										//排序按钮
//										<a style="text-decoration:none" class="ml-5" onClick="change_password(' + "'排序'" + ',' + "'ordernum.html?id=" + v.user_id + "'" + ',' + "'" + v.user_name + "'" + ',' + "'350'" + ',' + "'270'" + ')" href="javascript:;" title="排序"><i class="Hui-iconfont">&#xe61e</i></a>
										trs.append(td1);
										trs.append(td2);
										trs.append(td3);
										trs.append(td4);
										trs.append(td5);
										trs.append(td6);
										trs.append(td7);
										trs.append(td8);
										trs.append(td10);
										trs.append(td9);
										$('#dataList tbody').append(trs);
									});
									$('.no_message').hide();
								}

							}
						} else {
							layer.msg(data.SvcCont.RespInfo.Msg, {
								icon: 2,
								time: 2000
							});
						}
					},
					error: function() {
						var index = layer.load();
						layer.close(index);
						layer.msg('请求失败!', {
							icon: 2,
							time: 1000
						});
					}
				});
			}
			getData(num);
			$('.next_btn').click(function() {
				if($(this).hasClass('dis_btn')) {

				} else {
					$('.prev_btn').removeClass('dis_btn');
					num++;
					getData(num);
				}

			})
			$('.prev_btn').click(function() {
				if($(this).hasClass('dis_btn')) {

				} else {
					$('.next_btn').removeClass('dis_btn');
					num--;
					getData(num);
				}

			})
			//选择显示条数
			$('.num_select').change(function() {
				num = 1;
				getData(num);
			})

			//查询
			$('#serch').click(function() {
				num = 1;
				getData(num);
			})

			/*管理员-添加*/
			function admin_add(title, url, w, h) {
				layer_show(title, url, w, h);
			}
			/*用户-查看*/
			function member_show(title, url, id, w, h) {
				layer_show(title, url, w, h);
			}
			/*用户-编辑*/
			function member_edit(title, url, id, w, h) {
				if(title == '查看权限') {
					localStorage.setItem('loginName', id);
				}
				layer_show(title, url, w, h);
			}
			/*密码-修改*/
			function change_password(title, url, id, w, h) {
				var name = id;
				if(title == '排序') {
					localStorage.setItem('orderName', name);
				}
				layer_show(title, url, w, h);
			}
			/*用户-删除*/
			function member_del(obj, id) {
				layer.confirm('确认要删除吗？', function(index) {
					$.ajax({
						type: 'get',
						url: 'http://172.16.1.77:8008/user/delete',
						data: {
							id: id
						},
						headers: {
							Authorization: token
						},
						dataType: 'json',
						success: function(data) {
							location.replace(location.href);
							$(obj).parents("tr").remove();
							layer.msg('已删除!', {
								icon: 1,
								time: 1000
							});

						},
						error: function(data) {
							layer.msg('请求失败!', {
								icon: 2,
								time: 1000
							});
						},
					});
				});
			}
		</script>
	</body>

</html>