.discribe {
  width: 100%;
  background: #FFFFFF;
}
.discribe p {
  width: calc(100% - 0.6rem);
  margin: 0 auto;
  font-size: 0.30rem;
  color: #444444;
  padding: 0.30rem 0;
  font-family: 'PingFang SC-Regular';
  line-height: 0.48rem;
}
.discribe p span {
  font-size: 0.30rem;
  color: #0091e2;
  line-height: 0.4rem;
}
.process {
  width: 100%;
  position: relative;
}
.process ul {
  width: calc(100% - 1.4rem);
  margin: 0 auto;
  position: relative;
  margin-top: 0.3rem;
}
.process ul .border {
  display: block;
  width: 0.02rem;
  background: #AAAAAA;
  height: 100%;
  position: absolute;
  left: -0.26rem;
  top: 0.42rem;
}
.process ul:last-child .border {
  display: none;
}
.process ul li {
  font-size: 0.30rem;
  line-height: 0.5rem;
}
.process ul li h5 {
  display: inline-block;
  height: 0.54rem;
  line-height: 0.54rem;
  margin-bottom: 0.1rem;
  font-size: 0.32rem;
  background: url(../img/bg-h.png) no-repeat left center;
  background-size: 100% 0.54rem;
  color: #0091e2;
  text-indent: 0.2rem;
  position: relative;
  font-weight: normal;
  padding: 0 0.2rem;
}
.process ul li h5 i {
  display: block;
  width: 0.3rem;
  height: 0.3rem;
  background: url(../img/yuan.png) no-repeat center;
  background-size: 100% 100%;
  position: absolute;
  top: 50%;
  margin-top: -0.15rem;
  left: -0.4rem;
}
.process ul li h5 i.active {
  background: url(../img/liucheng.png) no-repeat center;
  background-size: 100% 100%;
}
.process ul li span {
  font-size: 0.30rem;
  color: #999999;
  font-family: 'PingFang SC-Regular';
}
.process ul li i {
  font-style: normal;
  font-size: 0.30rem;
  color: #444444;
  font-family: 'PingFang SC-Regular';
}
