@charset "utf-8";
html {
	font-family: "PingFang SC-Regular", Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", STXihei, "Microsoft YaHei", SimHei, "WenQuanYi Micro Hei";
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	font-size: .36rem;
	color: #333333;
	background-color: white;
	height: 100%;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}

article， aside， details， figcaption， figure， footer， header， hgroup， menu， nav， section {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

svg:not(:root) {
	overflow: hidden;
}

a {
	background: transparent;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
	color: #0088cc;
}

a:active {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

img {
	border: 0;
	vertical-align: middle;
	display: block;
	max-width: 100%;
}

hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

textarea {
	overflow: auto;
	resize: vertical;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a,
button,
input,
li,
i,
textarea,
select {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body,
div,
object,
iframe,
applet,
object,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
address,
dl,
dt,
dd,
ol,
ul,
li,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
progress {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline
}

ul,
ol,
li {
	list-style: none outside none;
}

input::placeholder,
textarea::placeholder {
	color: #cccccc;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #cccccc;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #cccccc;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html,body{
	width: 100%;
	height: 100%;
	line-height: 1;
}
p{
	margin-bottom: 0;
	word-wrap:break-word;
}
[v-cloak] {
    display: none;
}
.lzli p span{
	white-space:nowrap;  
}
